# This file configures the behavior of the TasksMaterialsBuilder

# the types of tasks that are considered for building the materials collection
supported_task_labels:
  - "structure optimization"
  - "static"
  - "nscf uniform"
  - "nscf line"
  - "hse gap"
  - "static dielectric"

# Each entry in property settings includes:
# (i) a list of materials properties that are affected
# (ii) where those properties are located in the tasks (tasks_key) and materials (materials_key) collections
# (iii) quality scores that define which kinds of task labels give better accuracy for those properties
property_settings:
  - properties:
      - bandgap
      - cbm
      - vbm
      - is_gap_direct
      - is_metal
    tasks_key: output
    materials_key: bandstructure
    quality_scores:
      "structure optimization": 1
      "static": 2
      "nscf uniform": 3
      "nscf line": 4
  - properties:
      - energy
      - energy_per_atom
    tasks_key: output
    materials_key: thermo
    quality_scores:
      "structure optimization": 1
      "static": 2
  - properties:
      - is_hubbard
      - hubbards
    tasks_key: input
    materials_key: calc_settings
    quality_scores:
      "structure optimization": 1
      "static": 2
  - properties:
      - potcar_spec
    tasks_key: input
    materials_key: calc_settings
    quality_scores:
      "structure optimization": 1
      "static": 2
  - properties:
      - epsilon_ionic
      - epsilon_static
      - epsilon_static_wolfe
    tasks_key: output
    materials_key: dielectric
    quality_scores:
      "static dielectric": 1
  - properties:
      - bandgap
      - cbm
      - vbm
      - is_gap_direct
      - is_metal
    tasks_key: output
    materials_key: bandstructure_hse
    quality_scores:
      "hse gap": 1

# These properties get copied to the root of the materials document for easier access
properties_root:
  - bandgap
  - energy_per_atom

# database indexes on materials collection for faster query
indexes:
  - "_tasksbuilder.all_task_ids"
  - "bandstructure.bandgap"
  - "bandstructure_hse.bandgap"
  - "thermo.energy_per_atom"
  - "formula_pretty"
  - "formula_reduced_abc"
  - "sg_number"