include LICENSE *.txt README.rst
include atomate/vasp/base/library/*
recursive-include atomate *.py *.yaml *.md
recursive-include docs *.*
global-exclude atomate tests/*.* test_files/*.* tests/* test_files/*
