numpy==1.18.1
scipy==1.4.1
FireWorks==1.9.5
pymatgen_diffusion==2019.8.18
monty==3.0.2
paramiko==2.7.1
tqdm==4.42.0
pybtex==0.22.2
ruamel.yaml==0.16.6
pandas==1.0.0
pymatgen==2020.1.28
custodian==2019.9.23
networkx==2.4
pydash==4.7.6
pyyaml==5.3
