FireWorks>=1.2.7
-e git+git@github.com:materialsproject/pymatgen.git@ff67d529192f45bc2142a790df9f36fc8a1c06b3#egg=pymatgen_tmp
pymatgen-db>=0.5.1
custodian>=0.8.8
monty>=0.8.4
paramiko>=1.15.0
unittest2>=1.1.0
coverage==4.0.3
